BODY {
  background: #0e0e0e;
}

.container {
  display: flex;
  justify-content: center;
}

#title {
  text-align: center;
  color: azure;
  font-family: "Montserrat", sans-serif;
}

.tile1,
.tile2,
.tile3,
.tile4,
.tile5,
.tile6,
.tile7,
.tile8,
.tile9,
.tile10,
.tile11,
.tile12,
.tile13,
.tile14,
.tile15,
.tile16 {
  display: table-cell;
  width: 190px;
  height: 190px;
  border: 1px solid white;
  background: url(".mrmr_photo_2.jpeg");
  cursor: pointer;
}

.tile1 {
  background-position: 0% 0%;
}
.tile2 {
  background-position: 33% 0%;
}
.tile3 {
  background-position: 66% 0%;
}
.tile4 {
  background-position: 100% 0%;
}
.tile5 {
  background-position: 0% 33%;
}
.tile6 {
  background-position: 33% 33%;
}
.tile7 {
  background-position: 66% 33%;
}
.tile8 {
  background-position: 100% 33%;
}
.tile9 {
  background-position: 0% 66%;
}
.tile10 {
  background-position: 33% 66%;
}
.tile11 {
  background-position: 66% 66%;
}
.tile12 {
  background-position: 100% 66%;
}
.tile13 {
  background-position: 0% 100%;
}
.tile14 {
  background-position: 33% 100%;
}
.tile15 {
  background-position: 66% 100%;
}
.tile16 {
  background: white;
  cursor: default;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  font-family: "Montserrat", sans-serif;
}

.button:hover {
  background-color: #e7e7e7;
}

#new {
  text-align: center;
}

#winner {
  display: none;
  text-align: center;
  color: azure;
  font-family: "Montserrat", sans-serif;
}
